app-read-Olha-Liuba @ file:///D:/study/programming/Python_projects/Yulia/dist/app_read_Olha_Liuba-0.0.1-py3-none-any.whl
astroid==2.4.2
autopep8==1.5.4
colorama==0.4.3
isort==5.5.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
mini-project-pkg-misha2956 @ file:///C:/Users/Admin/Downloads/Telegram%20Desktop/dist/dist/mini_project_pkg_misha2956-0.0.1-py3-none-any.whl
numpy==1.19.3
pandas==1.1.4
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
rope==0.18.0
six==1.15.0
toml==0.10.1
wrapt==1.12.1
